---
const { lists } = Astro.props;
---
<p>Check out some links of mine</p>
{lists.map((item) => (
<a href={item.link} target="_black" aria-label={item.name} style="text-decoration:none">
  <i class={`fa ${item.icon} w3-hover-opacity`}></i>
</a>
))}